<main class="container">
  <div>
    <h4>Question n° {{ currentQuestionIndex + 1 }} / {{questions?.length}}  </h4>
  </div>
  <div class="container-details">
    <h4
      style="text-decoration: underline; color:var(--white);font-size: 1.2rem; text-align: center">{{ quiz?.name }}</h4>
    <div class="header-details">
      <span>difficultée : {{ quiz?.difficulty }}</span>
    </div>
    <span
      style="display:flex; justify-content: start; border:1px solid var(--dark); border-radius:1rem; padding: 1rem">{{ quiz?.description }}</span>
    <span>{{ quiz?.createAt | date:'dd/MM/yyyy' }}</span>
  </div>
  <span
    style="display:flex; justify-content: center; border:1px solid var(--dark); border-radius:1rem; padding: 1rem;background-color: var(--dark); color: var(--main)">Score : {{ score }}</span>

  @if (actualQuestion != null && !endQuiz) {
    <app-questions (getScore)="onScoreReceived($event)" [actualQuestion]=actualQuestion></app-questions>
  } @else {
    <button class="button-29" (click)="getQuestion()">commencer</button>

  }
  @if (endQuiz) {
    <div
      style="position: absolute;top:0;left: 0; width: 100%;background-color: rgba(0,0,0,0.9); height: 100%; ; border: 1px solid var(--dark); border-radius: 1rem;display: flex; flex-direction: column; justify-content: center; align-items: center">
      <h4 style="margin:1rem;color: var(--main); font-size: 2rem">Merci d'avoir jouer !</h4>

      <span style="margin:1rem;color: var(--white); font-size: 2rem">progression : {{progression}}  %</span>
      <button (click)="router.navigate(['/'])" class="button-29" style="margin: 1rem">revenir à l'acceuil</button>
    </div>
  }
</main>
<router-outlet></router-outlet>
