<main class="container">
  <div>
    <h4>Question n° {{ quiz?.id }}</h4>
  </div>
  <div class="container-details">
    <div class="header-details">
      {{ quiz?.name }}
      <span>difficultée : {{ quiz?.difficulty }}</span>
    </div>
    <span>{{ quiz?.description }}</span>
    <span>{{ quiz?.createAt | date:'dd/MM/yyyy' }}</span>
  </div>

  <button (click)="getQuestions()">commencer</button>
  @if (questions) {
    <app-questions [categoryId] ="quiz?.category"></app-questions>
  }

</main>
<router-outlet></router-outlet>
